@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


body {
    background-color: white;
}

.cabecalho{

    background-color: rgb(233, 150, 233);
    text-align: center;
  padding: 30px;
   font-size: 40px;
}
img {
   width: 80px;
   height: 80px
 }
 main { 
  color: aqua;
  max-width: 800px;
 margin: 0 auto;
 padding:  16px;
 }

   article{
  
      display: flex;
   background-color: aqua;
   


   }